{% extends 'base.html' %}
{% load static %}

{% block title %}
    DIS | Login
{% endblock %}

{% block cssFile %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<!-- Page Header End -->
{% include 'partials/page_header.html' with page_title="Login" %}
<!-- Page Header End -->

<div class="container"> <!--START OF CONTAINER-->

    <div class="login-container">
        <h2>Enter Your Login Details</h2>
        <form>
        <div class="form-group">
            <input type="email" placeholder="Email" required />
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" id="password" required />
            <span class="toggle-password" onclick="togglePassword()">Show</span>
        </div>
        <button type="submit" class="login-btn">Sign In</button>
        </form>
        <div class="form-footer">
        <a href="#">Forgot password?</a>
        </div>
    </div>

</div> <!--End of Container -->
{% endblock %}