 {% load static %}
 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Learn More About Our Work And Our Cultural Activities</h1>
                <p>At Divine International Schools, Aba, we believe education extends beyond the classroom. Our students engage in a variety of cultural activities that celebrate diversity, creativity, and tradition. From music, dance, and drama to debates and exhibitions, these programs help develop confidence, teamwork, and leadership skills.</p>
                <p class="mb-4">We are committed to nurturing well-rounded individuals. Our events provide platforms for students to showcase their talents and connect with the community. Through participation in cultural and extracurricular activities, our learners grow into expressive, culturally aware, and socially responsible individuals.</p>
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Read More</a>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle flex-shrink-0" src="{% static 'img/proprietress.jpeg' %}" alt="" style="width: 45px; height: 45px;">
                            <div class="ms-3">
                                <h6 class="text-primary mb-1">Mrs. Julie Nwaji</h6>
                                <small>Proprietress</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="img-fluid w-75 rounded-circle bg-light p-3" src="{% static 'img/dis_proprietress.jpeg' %}" alt="">
                    </div>
                    <div class="col-6 text-start" style="margin-top: -150px;">
                        <img class="img-fluid w-100 rounded-circle bg-light p-3" src="{% static 'img/dis_Enyimba_award.jpeg' %}" alt="">
                    </div>
                    <div class="col-6 text-end" style="margin-top: -150px;">
                        <img class="img-fluid w-100 rounded-circle bg-light p-3" src="{% static 'img/dis_pupils2.jpeg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->