
{% load static %}
<!-- Classes Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Learning Pathway</h1>
            <p>At Divine International Schools, students progress through a structured educational journey — from nurturing curiosity in Pre-Nursery and Nursery, to building strong academic foundations in Primary, exploring broader knowledge in Junior Secondary, and preparing for higher education and life in Senior Secondary. Each stage is designed to support holistic growth and lifelong success.<p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="{% static 'img/dis_pupils.jpeg' %}" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a class="d-block text-center h3 mt-3 mb-4" href="">Pre-Nursery</a>
                        
                        <div class="row g-1">
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="{% static 'img/dis_pupils.jpeg' %}" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a class="d-block text-center h3 mt-3 mb-4" href="">Nursery</a>
                        
                        <div class="row g-1">
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="{% static 'img/dis_pupils.jpeg' %}" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a class="d-block text-center h3 mt-3 mb-4" href="">Primary</a>
                        
                        <div class="row g-1">
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="{% static 'img/dis_pupils.jpeg' %}" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a class="d-block text-center h3 mt-3 mb-4" href="">Junior Secondary</a>
                        
                        <div class="row g-1">
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" src="{% static 'img/dis_pupils.jpeg' %}" alt="">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <a class="d-block text-center h3 mt-3 mb-4" href="">Senior Secondary</a>
                        
                        <div class="row g-1">
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
<!-- Classes End -->

