
<div class="sidebar-container">
    <div class="sidebar">
      <h2>Divine Schools</h2>
      <a href="#" class="active"><i class="fas fa-home"></i> Dashboard</a>
      <a href="#"><i class="fas fa-user-graduate"></i> Students</a>
      <a href="#"><i class="fas fa-chalkboard-teacher"></i> Teachers</a>
      <a href="#"><i class="fas fa-layer-group"></i> Classes</a>
      <a href="#"><i class="fas fa-book-open"></i> Results</a>
      <a href="#"><i class="fas fa-calendar-alt"></i> Timetable</a>
      <a href="#"><i class="fas fa-cogs"></i> Settings</a>
      <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>