{% load static %}
  <!-- Facilities Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">School Facilities</h1>
            <p>“At Divine International Schools, Aba, we are committed to providing a world-class educational experience in a safe and nurturing environment. Our modern, fully-equipped facilities are designed to cater to the diverse needs of our students, ensuring that they have the resources and support needed to excel. From spacious, well-lit classrooms and cutting-edge science labs to our expansive playground and secure, every part of our campus is dedicated to fostering creativity, learning, and growth. We believe that education is not just about academics but also about building character, and our facilities are crafted to ensure every child flourishes both inside and outside the classroom. At Divine International Schools, we provide the foundation for lifelong success.”</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="facility-item">
                    <div class="facility-icon bg-primary">
                        <span class="bg-primary"></span>
                        <i class="fas fa-microscope fa-3x text-primary"></i>
                        <span class="bg-primary"></span>
                    </div>
                    <div class="facility-text bg-primary">
                        <h3 class="text-primary mb-3">Equipped Lab</h3>
                        <p class="mb-0">Our science labs are fully equipped to support hands-on learning and discovery.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="facility-item">
                    <div class="facility-icon bg-success">
                        <span class="bg-success"></span>
                        <i class="fa fa-futbol fa-3x text-success"></i>
                        <span class="bg-success"></span>
                    </div>
                    <div class="facility-text bg-success">
                        <h3 class="text-success mb-3">Playground</h3>
                        <p class="mb-0">Our playground offers a safe and fun environment for students to engage in physical activities and social interactions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="facility-item">
                    <div class="facility-icon bg-warning">
                        <span class="bg-warning"></span>
                        <i class="fa fa-home fa-3x text-warning"></i>
                        <span class="bg-warning"></span>
                    </div>
                    <div class="facility-text bg-warning">
                        <h3 class="text-warning mb-3">Healthy Environment</h3>
                        <p class="mb-0">We ensure a clean, safe, and supportive atmosphere that promotes students’ well-being and growth.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="facility-item">
                    <div class="facility-icon bg-info">
                        <span class="bg-info"></span>
                        <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                        <span class="bg-info"></span>
                    </div>
                    <div class="facility-text bg-info">
                        <h3 class="text-info mb-3">Positive Learning</h3>
                        <p class="mb-0">We foster an engaging and supportive space where students are inspired to achieve their full potential.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facilities End -->
