 
 {% load static %}
 
 <!-- Testimonial Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Graduates Say!</h1>
            <p>
                Our graduates are our greatest testament. Here's what some of them have to say about their experience at Divine International Schools:</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5">“Divine International Schools helped me realize my true potential. The teachers were incredibly supportive, and the environment fostered both academic excellence and personal growth. I’m confident and prepared for whatever comes next!”</p>
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/my_pic.jpg' %}" style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1">Urom Darlington(Class of 2008)</h3>
                        <span>Software Developer</span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5">“I’m beyond grateful for my time at Divine International Schools. The leadership training and extracurricular activities gave me the skills I needed to succeed at university and beyond. It’s a place that truly shaped who I am today.”</p>
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/my_pic.jpg' %}" style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1">Emily Johnson (Class of 2020):</h3>
                        <span>Business Man</span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5">“I graduated with more than just an O level — I graduated with a sense of purpose and direction. The school’s focus on academic rigor and holistic development helped me become the person I am today.”
                </p>
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/my_pic.jpg' %}" style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1">David Okoro (Class of 2008)</h3>
                        <span>Doctor</span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->